

#content {
	background-image: linear-gradient(black, white);
}

#header {
	background-image: ;
}

#intro {
	background-color: #007095;
}

#left {
	background-color: #0078a0;
}

#center {
	background-color: #007ba4;
}

#right {
	background-color: #008CBA;
}