

#content {
	height: 100%;
	background-image: linear-gradient(black, white);
}

#header {
	height: 370px;
	background-image: url("../images/mars_full.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}

h1 {
	color: white;
	padding-top: 25px;
}

#intro {
	background-color: #007095;
	padding: 10px;
}

#left {
	background-image: url("../images/Sp004.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
}

#center {
	background-color: #007ba4;
}

#right {
	background-image: url("../images/Sp006.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
}