<!DOCTYPE html>
<!--
AUTHOR: Jacob Kromm jacobkromm0@gmail.com
VERSION: 1.0
CREATED: 1.24.2013
ASSIGNMENT: HTML template
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Final Project</title>
		<link href="css/foundation.css" rel="stylesheet">
		<link href="css/normalize.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>

		<div id="header" class="text-center">
			<h1>Lego in Space</h1>
		</div>

		<div id="content">
			<div id="intro" class="row text-center">
				<h3>How Lego beat NASA and the International community to the moon and why they did it</h3>
			</div>
			<div class="row">
				<div id="left" class="medium-3 columns">
					<h3>Lance</h3>
				</div>
				<div id="center" class="medium-6 columns">
					<h3>Amazing Dedication</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dui at metus ultricies rhoncus non in orci. Nullam cursus lacus id venenatis egestas. Aliquam dapibus velit lorem, quis porta tellus ultrices quis. Sed vitae lorem tortor. Mauris vestibulum porta ligula sit amet suscipit. Curabitur ultrices sodales augue luctus venenatis. Ut ut arcu tristique, congue quam sit amet, eleifend orci. Pellentesque sodales, nunc ac pretium pulvinar, arcu est dapibus nibh, quis sagittis urna dui sed dui. Integer erat ipsum, elementum a diam vel, pulvinar pulvinar nisl. Suspendisse purus nunc, placerat quis gravida quis, cursus at tellus. Nunc nec dolor id risus porta luctus auctor at justo. Phasellus metus odio, ultrices lacinia pharetra quis, pulvinar vitae ligula.
						Integer in lacinia urna, nec ultricies nisl. Etiam viverra justo auctor gravida egestas. Pellentesque vel ipsum eu magna sodales semper nec dapibus augue. Mauris ac finibus dui, non scelerisque sem.
					</p>
				</div>
				<div id="right" class="medium-3 columns">
					<h3>Buzz</h3>
				</div>
			</div>
		</div>

		<div id="form">
			<div class="row">
				<form class="simple-form">
					<input type="text" maxlength="50" placeholder="Name" ng-model="user.name" required /><br />
					<input type="email" maxlength="50" placeholder="Email" ng-model="user.email" required /><br />
					<input type="text" maxlength="75" placeholder="Company" ng-model="user.company" required/><br />
					<button data-ng-submit="submit()" class="success"></button>
				</form>
			</div>
		</div>

		<!-- SCRIPTS -->
		<script src="js/AngularJS/angular.js"></script>
		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation/foundation.js"></script>
		<script src="js/main.js"></script>
		<script src="js/AngularJS/app.js"></script>
		<script src="js/AngularJS/controller.js"></script>
		<script src="js/vendor/modernizr.js"></script>

	</body>
